.card {
    box-shadow: 5px 5px rgb(112, 112, 112);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px rgb(112, 112, 112);
}

.title {
    box-shadow: 5px 5px black;
    transition: transform 0.2s, box-shadow 0.2s;
}

.title:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px black;
}